:root {
  --c1: #002913;
  --c2: #254412;
  --c3: #3d6a20;
  --c4: #7ca732;
  --c5: #ed4c1d;
  --txt-light: #ffffff;
  --txt-dark: #282828;
  --tit-h1: #254412;
  --txt-btn-c1: #ed4c1d;
  --txt-btn-c2: #ffffff;
  --color-btn: #ed4c1d;
  --bg-color-light: #ffffff;
  --bg-color-dark: #002913;
  --font-quicksans: "Quicksand", sans-serif;
}

* {
  -webkit-font-smoothing: antialiazed;
  font-family: "Work Sans", sans-serif;
}

.center {
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  background: url("../images/diseno/1-home/bg_header.png");
  background-size: cover;
  background-position: left center;
  position: fixed;
  width: 100%;
  min-height: 70px;
  z-index: 50;
}
header .header {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
header .header .c_logo_header {
  background-color: var(--bg-color-light);
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0px 0px 8px 8px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
}
header .header .c_logo_header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header .navbar_desk {
  grid-column: 2/3;
  display: grid;
  align-items: center;
  gap: 20px;
}
header .header .navbar_desk .cont_btn_menu_mobile {
  display: none;
  justify-content: flex-end;
  padding-right: 10px;
  box-sizing: border-box;
}
header .header .navbar_desk .cont_btn_menu_mobile a {
  cursor: pointer;
  color: var(--txt-btn-c2);
  font-size: 26px;
}
header .header .navbar_desk ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  gap: 20px;
  padding: 0;
}
header .header .navbar_desk ul li {
  display: flex;
  justify-content: center;
}
header .header .navbar_desk ul li a {
  color: var(--txt-light);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
header .header .navbar_desk ul li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 8px;
  right: 0;
  height: 3px;
  width: 0%;
  margin: auto;
  background: linear-gradient(90deg, rgba(124, 167, 50, 0) 0%, #7ca732 52.6%, rgba(255, 255, 255, 0) 100%, #7ca732 100%);
  border-radius: 100px;
  transition: 300ms ease-out;
  opacity: 0;
}
header .header .navbar_desk ul li a.active_link::before {
  width: 90%;
  opacity: 1;
}
header .header .navbar_desk ul li a:hover::before {
  width: 90%;
  opacity: 1;
}
header .header .navbar_desk ul .c_lenguajes {
  border-left: 1px solid #e5e5e5;
  padding-left: 20px;
}
header .header .navbar_desk ul .c_lenguajes a {
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 300ms ease;
}
header .header .navbar_desk ul .c_lenguajes a::before {
  display: none;
}
header .header .navbar_desk ul .c_lenguajes a:hover {
  background-color: rgba(255, 255, 255, 0.2745098039);
}
header .header .navbar_desk ul .c_lenguajes a.active {
  background-color: var(--bg-color-light);
  color: var(--c1);
}

.spacer {
  display: block;
  width: 100%;
  height: 70px;
}

.close_mobile {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.close_mobile span {
  display: inline-block;
  color: #FAFAFA;
}

.btn_fill, .btn_outline {
  background-color: var(--color-btn);
  color: var(--txt-btn-c2);
  font-weight: 700;
  text-decoration: none;
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 100px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
}
.btn_fill span, .btn_outline span {
  margin-left: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  color: var(--txt-light);
}

.c_footer {
  background: #162f07;
  padding: 60px 0;
  box-sizing: border-box;
}

.c_sub_footer {
  background: var(--c4);
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  color: #FAFAFA;
}
.c_sub_footer a {
  color: #FAFAFA;
  text-decoration: none;
}
.c_sub_footer a:hover {
  text-decoration: underline;
}

.cont_gen_footer {
  display: grid;
  grid-template-columns: 170px 2fr 1fr;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
}
.cont_gen_footer .cont_logo a {
  display: inline-block;
}
.cont_gen_footer .cont_logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cont_gen_footer h4 {
  margin: 0 0 14px;
  color: var(--txt-light);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--font-quicksans);
}
.cont_gen_footer .desc_seo, .cont_gen_footer .direccion, .cont_gen_footer .contactos {
  margin: 0 0 10px;
  font-weight: 400;
  opacity: 0.7;
  font-size: 14px;
}
.cont_gen_footer .contactos a {
  color: var(--txt-light);
  text-decoration: none;
}
.cont_gen_footer .contactos a:hover {
  text-decoration: underline;
  color: var(--c4);
}
.cont_gen_footer .contactos span {
  padding: 0 10px;
  margin: 0 10px;
  box-sizing: border-box;
  border-left: 1px solid rgba(255, 255, 255, 0.4705882353);
  border-right: 1px solid rgba(255, 255, 255, 0.4705882353);
}
.cont_gen_footer .direccion span {
  padding: 0 10px;
  margin: 0 10px;
  box-sizing: border-box;
  border-left: 1px solid rgba(255, 255, 255, 0.4705882353);
}

.hastag {
  font-weight: 500;
  font-size: 13px;
  font-family: var(--font-quicksans);
}

.c_items_redes_footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 10px;
}
.c_items_redes_footer a {
  border-radius: 100px;
  border: 1px solid #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: var(--txt-btn-c2);
  text-decoration: none;
  transition: 300ms ease;
}
.c_items_redes_footer a:hover {
  background-color: var(--bg-color-light);
  color: var(--c3);
}

.s_hero {
  position: relative;
  min-height: 480px;
  border-radius: 0 0 80px 80px;
  overflow: hidden;
  z-index: 10;
}

.cont_gen_hero {
  max-height: 480px;
  height: 100vh;
}

.sliderHero .swiper-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 200px;
  box-sizing: border-box;
}
.sliderHero .swiper-slide .img_bg_slider_hero {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: inline-block;
}
.sliderHero .swiper-slide .img_bg_slider_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.9607843137) 50%, rgba(255, 255, 255, 0) 80.31%);
}
.sliderHero .swiper-slide .img_bg_slider_hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliderHero .swiper-slide .cont_desc_hero_txt {
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 680px;
}
.sliderHero .swiper-slide .cont_desc_hero_txt h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: var(--c2);
  margin: 0 0 20px;
}
.sliderHero .swiper-slide .cont_desc_hero_txt .desc_txt {
  margin-bottom: 20px;
  line-height: 1.4;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: var(--c4);
  border-radius: 100px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 24px;
  font-weight: 800;
  color: var(--txt-light);
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 80px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 80px;
}

/* ************ */
/* RESPONSIVE */
/* ************ */
@media screen and (max-width: 1200px) {
  header .header .navbar_desk ul {
    gap: 10px;
  }
}
@media screen and (max-width: 1050px) {
  .close_mobile {
    display: flex;
  }

  header .header .navbar_desk ul {
    position: fixed;
    top: 0;
    left: 0%;
    background-color: var(--bg-color-dark);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: 300ms ease-out;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
  }
  header .header .navbar_desk ul.active_nav_m {
    transform: translateX(0%);
  }

  .cont_btn_menu_mobile {
    display: flex !important;
  }

  header .header .navbar_desk ul li a {
    color: #FAFAFA;
    font-size: 1.5em;
  }

  header .header .navbar_desk ul .c_lenguajes {
    padding: 0 20px;
    border-right: 1px solid #e5e5e5;
  }

  header .header .navbar_desk ul li {
    gap: 20px;
  }

  .cont_gen_footer {
    gap: 30px;
  }

  .c_footer {
    padding: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  .cont_gen_footer {
    grid-template-columns: 1fr;
  }

  .cont_logo {
    display: flex;
    justify-content: center;
  }
  .cont_logo a {
    max-width: 300px;
  }

  .cont_info_footer, .cont_redes_footer {
    text-align: center;
  }

  .c_items_redes_footer {
    justify-content: center;
  }

  header .header .c_logo_header {
    width: 120px;
  }
}
@media screen and (max-width: 480px) {
  header .header .navbar_desk ul li a {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=style.css.map */